* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 300px;
  width: 200px;
  border: 1px solid black;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Cards */
#card1 {
  z-index: 4;
  background-color: red;
}

#card2 {
  z-index: 3;
  transform: translate(-50%, -50%) rotate(-7deg);
  background-color: green;
  -webkit-transform: translate(-50%, -50%) rotate(-7deg);
  -moz-transform: translate(-50%, -50%) rotate(-7deg);
  -ms-transform: translate(-50%, -50%) rotate(-7deg);
  -o-transform: translate(-50%, -50%) rotate(-7deg);
}

#card3 {
  z-index: 2;
  transform: translate(-50%, -50%) rotate(-14deg);
  background-color: blue;
  -webkit-transform: translate(-50%, -50%) rotate(-14deg);
  -moz-transform: translate(-50%, -50%) rotate(-14deg);
  -ms-transform: translate(-50%, -50%) rotate(-14deg);
  -o-transform: translate(-50%, -50%) rotate(-14deg);
}

#card4 {
  z-index: 1;
  transform: translate(-50%, -50%) rotate(-21deg);
  background-color: yellow;
}
#card2:hover{
    z-index: 10;
}

#card3:hover{
    z-index: 10;
}

#card4:hover{
    z-index: 10;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}