*{
    margin :0%;
padding: 0%;
box-sizing: border-box;
}
html,body{
    height : 150%;
    width:100%
  }
#main{
     height : 50%;
    width:50%;
display: flex;
align-items: center;
justify-self: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: normal;
 
}
.shape{
    
    margin-left: 10px;
   margin-top: 10%;
   margin-bottom: 10px;


     height : 200px;
    width: 200px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
    #circle{

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

}

#diamond{
   rotate: 45deg; 
    margin-top: 100px;
height: 200px;
width: 200px;
translate: 10px;


}

#diamond h1{

rotate: -45deg;

}

#square:hover{
    background-color: red;
}
#diamond:hover{
    background-color: blue;
}
#circle:hover{
background-color: green;
}